body{
    font-family: roboto, sans-serif;
    justify-content: center;
}

.container{
    display: flex;
    color: #F9FAF8;
    background: #1F2937;
    padding: 0px 70px 70px 70px
}

.logo{
    flex: 4 1 0%;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 50px;
}

a{
    color:#E5E7EB;
    text-decoration: none;
}
a:hover{
    background-color: #3882f6;

}
.link{
    flex: 1 0 0%;
    font-size: 18px;
}

.awesome{
    flex: 1 0 0%;
    padding: 0px 50px;
}

.signup{
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 4px 2px;
    padding: 4px 20px;
    border-color: #F9FAF8;
    border-radius: 8px;
}

.placeholder{
    flex: 1 0 0%;
    text-align: center;
    background: #6c6e7b;
    padding: 100px;
}

.info{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.imageGroup{
    display: flex;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

.imageContainer{
    text-align: center;
    font-weight: lighter;
    margin: 5px 5px 5px 50px;
}

.quoteSection{
    background:#E5E7EB;
    padding: 50px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 50px;
    padding: 0px 100px 0px 100px;
}

.author{
    font-weight: bold;
    text-align: right;
    margin-top: -50px;
    padding-right: 150px;
}

.action{
    display: flex;
    justify-content:space-evenly;
    background: #3882f6;
    color: #E5E7EB;
    align-items: center;
    margin: 100px;
    padding: 10px;
    border-radius: 5px;
}

.footer{
    background: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding: 10px;
}