body{
    font-family: roboto, sans-serif;
}

.container{
    display: flex;
    color: #F9FAF8;
    background: #1F2937;
}

.logo{
    flex: 2;
    font-size: 24px;
}

.link{
    font-size: 18px;
}

.signup{
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 4px 2px;
    border: none;
    border-radius: 6px;
}